{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Carinho</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}

    <h1>Carrinho</h1>

    <div class="cards cards_cart">

        {% for produto_carrinho in cart %}
            {% for produto in produto_carrinho.produtos.all %}
                {% if produto.status %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ produto.product.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.product.titulo }}</h5>
                            <h5 class="card-title">R$ {{ produto.product.preco }}</h5>
                            <form action="{%url 'update_cart' produto.product.id produto_carrinho.id %}" class="form_cart" method="post">
                                {% csrf_token %}
                                <div class="options">
                                    <div class="amount">
                                        <div class="minus" id="minus" onclick="back({{produto.id}})">
                                            <img src="{% static 'img/icon-minus.svg' %}" alt="">
                                        </div>
                                        <input type="number" id="number-{{produto.id}}" value="{{ produto.quantidade }}" name="quantity" min="1">
                                        <div class="plus" onclick="next({{produto.id}})">
                                            <img src="{% static 'img/icon-plus.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <button type="submit" class="button"><img src="{% static 'img/icon-cart.svg' %}" alt="">Salvar carrinho</button>
                                </div>
                            </form>
                            <a href="{% url 'remove_product_cart' produto.product.id produto_carrinho.id %}" class="btn btn-danger button_submit"><img src="{% static 'img/icon-delete.svg' %}" alt=""></a>
                            <!-- <a href="{% url 'product_detail' produto.product.id %}" class="btn btn-primary">Comprar</a> -->
                            <!-- {% if user.usuario.tipo == "Gerente" %}
                                <a href="{% url 'update' obj.id %}" class="btn btn-info">Editar</a>
                                <a href="{% url 'delete' obj.id %}" class="btn btn-danger">Deletar</a>
                            {% endif %} -->
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="total">
                <p>TOTAL: R${{ produto_carrinho.total }}</p>
                <a class="button" href="{% url 'confirmar_pedido' %}">Finalizar pedido</a>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/detail.js' %}"></script>

{% endblock %}