{% load static %}
<header>
    <div class="menu">
        <div class="left-side-menu">
            <div class="logo">
                <img src="{% static 'img/logo_tati_biju_fundo_rosa.png' %}" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'products' %}">Produtos</a></li>
                </ul>
            </nav>
        </div>

        <div class="right-side-menu">
            {% if user.is_authenticated %}
                <a class="button" href="{% url 'products' %}">Produtos</a>
                <a class="button" href="{% url 'index' %}">Página principal</a>
                <a href=""><img src="{% static 'img/bag.svg' %}" alt=""></a>
                <a href="" class="icon-avatar"><img src="{% static 'img/icon-user.png' %}" alt=""></a>
                <a href="{% url 'logout' %}"><img src="{% static 'img/icon-logout.png' %}" alt=""></a>
            {% else %}
                <a class="button" href="{% url 'products' %}">Produtos</a>
                <a class="button" href="{% url 'index' %}">Página principal</a>
                <a class="button" href="{% url 'cadastro' %}">Cadastro</a>
                <a class="button" href="{% url 'login' %}">Login</a>
            {% endif %}
            
        </div>
    </div>

    <div class="line">
        
    </div>
</header>