{% load static %}
<header>
    <div class="menu">
        <div class="left-side-menu">
            <div class="logo">
                <img src="{% static 'img/logo_tati_biju_fundo_rosa.png' %}" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'products' %}">Produtos</a></li>
                </ul>
            </nav>
        </div>

        <div class="right-side-menu">
            <a href=""><img src="{% static 'img/bag.svg' %}" alt=""></a>
            <!-- <a href="" class="icon-avatar"><img src="images/image-avatar.png" alt=""></a> -->
        </div>
    </div>

    <div class="line">
        
    </div>
</header>