{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Products</h1>
    <div class="cards">
        {% for obj in object_list %}
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ obj.titulo }}</h5>
                  <p class="card-text">{{ obj.descricao }}</p>
                  <h5 class="card-title">R$ {{ obj.preco }}</h5>
                  <a href="{% url 'product_detail' obj.id %}" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        {% endfor %}
    </div>

    
    
</body>
</html>