@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}

.left-side-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    width: 100px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: auto 40px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(291, 9%, 45%);
}
.a_tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 6%;
    width: max-content;
    font-size: 12px;
    max-width: 250px;
    margin-top: 8px;
    padding: 6px;
    background: #0d1117;
    border-radius: 4px;
    color: #cccfd3;
    opacity: 0;
    display: none;
}

.a_tooltip:hover::before {
    top: 6%;
    opacity: 1;
    display: inline;
}

.right-side-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-side-menu img {
    width: 30px;
}

.icon-avatar img {
    width: 40px;
}

.button {
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    background: #e65996;
    border: solid 2px #e65996;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    text-decoration: none;
    background: none;
    color: #e65996;
}

.line {
    height: 1px;
    background-color: #e65996;
    width: 90%;
    align-self: center;
    opacity: .3;
}

.buscar_form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 20px;
}

.buscar_form input {
    width: 50%;
    border: solid 1.5px #000;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #e65996;
    border: 2px solid #e65996;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buscar_form input::placeholder {
    font-family: inherit;
    text-transform: uppercase;
}

.buscar_form input:focus {
    width: 55%;
    outline: none;
    border: 2px solid #e65996;
    transition: .2s;
}

.indisponivel {
    filter: blur(5px);
    transition: .2s;
}

.indisponivel:hover {
    filter: blur(0);
    transition: .2s;
}

.section {
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 86px);
    gap: 100px;
}

.items {
    align-self: flex-end;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-image {
    max-width: 500px;
}

.select-image img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side h6 {
    color: #e65996;
    font-weight: 700;
    font-size: 1em;
}

.right-side p {
    color: hsl(291, 9%, 45%);
    font-size: 14px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.off {
    font-size: 12px;
    color: #ccc;
}

.options {
    display: flex;
    gap: 20px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #e6599669;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
}

.amount input {
    font-weight: 700;
    font-size: 12px;
    background: none;
    border: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minus, .plus {
    cursor: pointer;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #e65996;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
}

.button img {
    width: 14px;
}

.detail_pedido {
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
}

.header-pedido {
    display: flex;
    height: 100px;
    width: 70%;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
}

.gerente {
    width: 90%;
    margin: 20px;
}

.body-pedido {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 5px; */
    background-color: #e6599669;
}

.header-pedido img {
    width: 50px;
    height: 50px;
}

.header-pedido .icon-info {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    background: #e65996;
}

.header-pedido p {
    margin-bottom: 0;
}

.header-pedido .gray {
    color: #777;
    font-size: 14px;
}

.rosa {
    color: #e65996;
}

.title-pedido {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #303030;
    height: 30px;
    padding: 10px;
    margin: 6px 0;
}

.cards {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.image_product {
    width: 700px;
    height: 700px;
}

.info  {
    display: flex;
    flex-direction: column;
    background-color: #f3f5f8;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
    border: 2px dashed red;
    height: 40%;
}

.info .title {
    font-weight: 900;
    font-size: 2em;

    padding: 10px;
} 

.info .description {
    padding: 10px;
}
/* 
.cards_cart {
    height: calc(100vh - 10vh - 85px);
    overflow: auto;
    z-index: 1;
} */

.pedidos-cliente {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e65996;
    box-shadow: 0 0 3px #e65996;
}

.pedido {
    display: flex;
    height: 40px;
    font-style: inherit;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

.pedido p {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 0;
}

.pedido p strong {
    color: #e65996;
    margin-left: 5px;
}

.pedido a {
    color: #e65996;
    text-decoration: none;
    margin-right: 10px;
}

.icon-info {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    background: #e65996;
}

.info-pedido {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.info-pedido .grupo {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

.info-pedido p {
    height: 50%;
    margin: 0;
}

.chave {
    color: #777;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 0 5%;
    background-color: #e6599669;
    position: fixed;
    bottom: 0;
}

.total p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.form_cart .amount {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.form_cart .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_cart .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_submit {
    margin-top: 10px;
}

.pedidos {
    width: 90%;
    margin: 0 auto;
    border: 2px solid aqua;
    border-radius: 10px;
}

.total-pedidos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 0 5%;
    background-color: #e6599669;
    border-radius: 0 0 10px 10px;
}

.total-pedidos p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.total-pedidos .button img {
    display: none;
}

body {
    /* background-color: #e6599685;*/
    background-color: #ebebeb;
    
} 