* {
    padding: 0;
    margin: 0;
}

.cards {
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}