{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Meu pedido</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    {% include 'partials/_buscar.html' %}

    <h1>Pedido</h1>
    {% if pedidos %}
        {% for pedido in pedidos %}
            <div class="pedidos">
                <div class="cards cards_cart">
                    <div class="header-pedido gerente">
                        <div>
                            <p>Cliente:</p>
                            <p class="rosa">{{ usuario.username }}</p>
                        </div>
                        <div>
                            <p>N° do pedido:</p>
                            <p class="rosa">{{ pedido.id }}</p>
                        </div>
                        <div>
                            <p>Status <img class="icon-info" src="{% static 'img/info-icon.png' %}" alt=""></p>
                            <p class="rosa">{{ pedido.status_pedido }}</p>
                        </div>
                    </div>
                    {% for produto in pedido.produtos.all %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ produto.product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ produto.product.titulo }}</h5>
                                <h5 class="card-title">R$ {{ produto.product.preco }}</h5>
                                <h5 class="card-title">Unidades: {{ produto.quantidade }}</h5>
                            </div>
                        </div>
                        <input type="text" name="texto-{{ pedido.id }}" id="texto-{{ pedido.id }}" value="{{ produto.quantidade }} x {{ produto.product.titulo }}" hidden/>
                    {% endfor %}
                    <div class="total-pedidos">
                        <p>TOTAL: R$ {{ pedido.total }}</p>
                        <input type="text" id="total-{{ pedido.id }}" value="{{ pedido.total }}" hidden/>
                        <span class="button" onclick="copiarTexto({{pedido.id}})">
                            <span id="copied-{{ pedido.id }}">Copiar</span>
                            <img id="copied_img-{{ pedido.id }}" src="{% static 'img/icon_ok.png' %}" alt="">
                        </span>
                        <span>
                            <form action="{% url 'mudarStatusPedido' pedido.id %}" method="post">
                                {% csrf_token %}
                                <select name="statusPedido">
                                    <option value="none" selected disabled hidden>{{ pedido.status_pedido }}</option>
                                    <option value="Aguardando pagamento">Aguardando pagamento</option>
                                    <option value="Pagamento realizado">Pagamento realizado</option>
                                    <option value="Em rota de entrega">Em rota de entrega</option>
                                    <option value="Finalizado">Finalizado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                                <button type="submit">Salvar</button>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Pedido não encontrado</p>
    {% endif %}

    <script src="{% static 'js/detail.js' %}"></script>

{% endblock %}
    
