{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Produto</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    <!-- <section>
        <img class="image_product" src="{{ object.image.url }}">
        <div class="info">
            <p class="title">{{ object.titulo }}</p>
            <p class="description">{{ object.descricao }}</p>
        </div>
    </section> -->
    <main>
        <section class="section">
            <div class="container">
                <div class="left-side">
                    <div class="items">
                        <div class="select-image">
                            <img src="{{ object.image.url }}" alt="">
                        </div>
                        
                       <!--  <div class="thumbnails">
                            <div class="thumbnail">
                                <img src="{{ object.image.url }}" alt="">
                            </div>
                            
                            {% for img in object.image.all %}
                                <img src="{{ img.image.url }}" alt="">
                            {% endfor %} -->
                                
                            <!-- <div class="thumbnail">
                                <img src="{{ object.image.url }}" alt="">
                            </div>

                            <div class="thumbnail">
                                <img src="{{ object.image.url }}" alt="">
                            </div>

                            <div class="thumbnail">
                                <img src="{{ object.image.url }}" alt="">
                            </div> 
                        </div>-->
                    </div>
                </div>

                <div class="right-side">
                    <div class="content">
                        <h6>TATI BIJU</h6>
                        <h1>{{ object.titulo }}</h1>
                        <p>{{ object.descricao }}</p>
                        <div class="prices">
                            <span class="price">RS {{ object.preco }}</span>
                            <!-- <span class="off">$250.00</span> -->
                        </div>
                        <form action="{%url 'add_cart' object.id %}" method="post">
                            {% csrf_token %}
                            <div class="options">
                                <div class="amount">
                                    <div class="minus" onclick="back()">
                                        <img src="{% static 'img/icon-minus.svg' %}" alt="">
                                    </div>
                                    <input type="number" id="number" value="1" name="quantity" min="1">
                                    <div class="plus" onclick="next()">
                                        <img src="{% static 'img/icon-plus.svg' %}" alt="">
                                    </div>
                                </div>
                                <button type="submit" class="button"><img src="{% static 'img/icon-cart.svg' %}" alt="">Adicionar no carrinho</button>
                                <!-- {{ cart }}
                                {% if object in cart.products.all %}
                                    <a href="" class="button"><img src="{% static 'img/icon-cart.svg' %}" alt="">Produto no carrinho</a>
                                {% else %}
                                    <a href="" class="button"><img src="{% static 'img/icon-cart.svg' %}" alt="">Add to cart</a>
                                {% endif %} -->
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}