{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>model form</title>
</head>
<body>
    <h1>Model Form</h1>
    <div class="forms">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="buttons">
                <button type="submit" value="cadastrar">Cadastrar</button>
            </div>
        </form>
    </div>
{% endblock %}