{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Login</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    <div class="forms">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Digite sua senha" required>
            <div class="buttons">
                <button type="submit">Logar</button>
                <a href="{% url 'cadastro' %}">Criar conta</a>
            </div>
        </form>
    </div>


{% endblock %}