{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Meu pedido</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    {% include 'partials/_buscar.html' %}
    
    <h1>Pedido</h1>
    {% for user in usuarios %}
        <div class="pedidos">
            
            {% for carrinho in user.carrinho.all %}
                <div class="cards cards_cart">
                    <div class="header-pedido gerente">
                        <div>
                            <p>Cliente:</p>
                            <p class="rosa">{{ user }}</p>
                        </div>
                        <div>
                            <p>Telefone:</p>
                            {% if user.telefone %}
                                <p class="rosa">{{ user.telefone }}</p>
                            {% else %}
                                <p class="rosa">Não cadastrado</p>
                            {% endif %}
                        </div>
                        <div>
                            <p>N° do pedido:</p>
                            <p class="rosa">{{ carrinho.id }}</p>
                        </div>
                        <div>
                            <p>Status <img class="icon-info" src="{% static 'img/info-icon.png' %}" alt=""></p>
                            <p class="rosa">{{ carrinho.status_pedido }}</p>
                        </div>
                    
                    </div>
                    {% if carrinho.motivo_cancelamento %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Motivo do cancelamento</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    {% endif %}
                    {% for produto in carrinho.produtos.all %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ produto.product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ produto.product.titulo }}</h5>
                                <h5 class="card-title">R$ {{ produto.product.preco }}</h5>
                                <h5 class="card-title">Unidades: {{ produto.quantidade }}</h5>
                            </div>
                        </div>
                        <input type="text" name="texto-{{ carrinho.id }}" id="texto-{{ carrinho.id }}" value="{{ produto.quantidade }} x {{ produto.product.titulo }}" hidden/>
                    {% endfor %}
                    <div class="total-pedidos">
                        <p>TOTAL: R$ {{ carrinho.total }}</p>
                        <input type="text" id="total-{{ carrinho.id }}" value="{{ carrinho.total }}" hidden/>
                        <span class="button" onclick="copiarTexto({{ carrinho.id }})">
                            <span id="copied-{{ carrinho.id }}">Copiar</span>
                            <img id="copied_img-{{ carrinho.id }}" src="{% static 'img/icon_ok.png' %}" alt="">
                        </span>

                        {% if not carrinho.motivo_cancelamento %}
                            <a class="button" href="">Cancelar</a>
                        {% endif %}
                        <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s. -->

                        <span>
                            <form action="{% url 'mudarStatusPedido' carrinho.id %}" method="post">
                                {% csrf_token %}
                                <select name="statusPedido">
                                    <option value="none" selected disabled hidden>{{ carrinho.status_pedido }}</option>
                                    <option value="Aguardando pagamento">Aguardando pagamento</option>
                                    <option value="Pagamento realizado">Pagamento realizado</option>
                                    <option value="Em rota de entrega">Em rota de entrega</option>
                                    <option value="Finalizado">Finalizado</option>
                                    <!-- <option value="Cancelado">Cancelado</option> -->
                                </select>
                                <button type="submit">Salvar</button>
                            </form>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endfor %}
    
    <script src="{% static 'js/detail.js' %}"></script>

{% endblock %}
    
