{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Meu pedido</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    {% if pedido.status_pedido == 'Aguardando pagamento' %}
        <div class="alert alert-warning" role="alert">
            Atenção, estamos aguardando o pagamento, para isso entre em contato apertando no botão <strong>"Verificar endereço e pagamento"</strong> no canto inferior direito!
        </div>
    {% endif %}
    <h1>Pedido</h1>
    <div class="detail_pedido">
            <div class="header-pedido">
                <div>
                    <img src="{% static 'img/cart-icon.png' %}" alt="">
                </div>
                <div>
                    <p>N° do pedido</p>
                    <p class="rosa">{{ pedido.id }}</p>
                </div>
                <div>
                    <p>Data:</p>
                    <p class="gray">{{ pedido.date_created }}</p>
                    
                </div>
            </div>

            <span class="title-pedido">Status atual do seu pedido</span> 
            <div class="header-pedido">
                <div class="body-pedido">
                    <p class="gray">{{ pedido.date_modified }}</p>
                    <p> {{ pedido.status_pedido }} </p>
                </div>
            </div>

            <span class="title-pedido">Você está comprando</span> 

            <div class="cards cards_cart">
                {% for produto in pedido.produtos.all %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ produto.product.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.product.titulo }}</h5>
                            <h5 class="card-title">R$ {{ produto.product.preco }}</h5>
                            <!-- <h5 class="card-title">Status do pedido: {{ produto.status_pedido }}</h5> -->
                            <h5 class="card-title">Unidade: {{ produto.quantidade }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            
    </div>
    <div class="total">
        <p>TOTAL: R$ {{ pedido.total }}</p>
        {% if not pedido.motivo_cancelamento%}
            <a class="button" href="{% url 'cancelamento' pedido.id %}">Cancelar pedido</a>
        {% endif %}
        <a class="button" href="https://wa.me/5584991589245?text=Número+do+pedido:+{{ pedido.id }}" target="_blank">Verificar endereço e pagamento<img src="{% static 'img/icon-whatsapp.png'%}"></a>
    </div>
    <script src="{% static 'js/detail.js' %}"></script>


{% endblock %}