{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'site.css' %}"> -->
    <title>Perfil</title>
</head>
<body>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Ao mudar seu <strong>E-mail</strong>, também será alterado no login!
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    {% include 'partials/_alerts.html' %}
    <div class="forms">
        <h1>Editar perfil</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <!-- <label for="{{ form.username.id_for_label }}">Nome:</label>
            {{ form.username }}

            <label for="{{ form.email.id_for_label }}">E-mail:</label>
            {{ form.email }}

            <label for="{{ form.telefone.id_for_label }}">Telefone:</label>
            {{ form.telefone }} -->
            <div class="buttons">
                <button type="submit" value="salvar">Salvar</button>
            </div>
        </form>
    </div>


{% endblock %}